.article {
  .article__block {
    .article__h1 {
      font-family: 'Urbanist';
      font-style: normal;
      font-weight: 800;
      font-size: 80px;
      line-height: 96px;
      text-align: center;
      margin: 0;
      padding-top: 200px;
      padding-bottom: 300px;
      color: rgb(33 101 84 / 99%);
    }
  }
}

.art {
  padding: 60px 0 40px 0;
}

.art__block {
  display: grid;
  grid-template-columns: 650px 650px;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
  margin-top: 100px;
}
.art__img {
   width: 644px;
   height: 391px;
   border-radius: 20px;
 }

.art__info {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
.art__topic {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 43px;
  color: #000000;
  text-align: start;
}

.art__text {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
  text-align: start;

}

.article__info {
  padding: 80px;
}
.art__h3 {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
text-align: start;
}
.art__p {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #404040;
  text-align: start;
}

.div__a {
  display: flex;
  justify-content: start;
  .art__a {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    color: #6383e1;
    text-align: start;
    text-decoration: none;
    border: 0px;
    transition: 0.5s;
  }
  .art__a:hover {
    color: #305fe1;
    transition: 0.5s;
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.modal.active {
  transform: scale(1);
}
.modal__content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  transform: scale(0);
  transition: 1.5s;
}

.modal__content.active {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  transform: scale(1);
  transition: 1.5s;
}

.cardd {
  display: none;
}

