.dest {
  margin: 0;
  .dest__main {
    .dest__h1 {
      font-family: 'Urbanist';
      font-style: normal;
      font-weight: 800;
      font-size: 80px;
      line-height: 96px;
      text-align: center;
      padding-top: 200px;
      margin: 0;
      padding-left: 5%;
      padding-right: 5%;
      color: #FFFF;
    }
  }

}